@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Nunito", sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.wi {
  font-family: "weathericons";
  src: url("../font/weathericons-regular-webfont.eot");
  src: url("../font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/weathericons-regular-webfont.woff") format("woff"),
    url("../font/weathericons-regular-webfont.ttf") format("truetype"),
    url("../font/weathericons-regular-webfont.svg#weathericons-regular-webfontRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

#daily #daily-weather {
  font-size: 16px;
  font-weight: 600;
  display: grid;
  grid-auto-flow: column;
}

#daily #daily-weather ul {
  display: grid;
  justify-content: center;
}

#daily #daily-weather ul li {
  text-align: center;
}

#daily #daily-weather ul li.weekday {
  text-transform: capitalize;
}

#daily #daily-weather ul li i {
  font-size: 20px;
}
